.Rproj.user
.Rhistory
.RData
.Ruserdata
rsyncrosim.Rproj
installRSyncroSim.R
gitIncantations.txt
*.suo
*.user
*.ssim
*.tex
/vignettes/rsyncrosim_tutorial.html
/vignettes/demoLib.ssim.temp/RSyncroSim
/vignettes/demo-library.ssim.input
/vignettes/demo-library.ssim.output
/vignettes/demoLib.ssim.input/Scenario-2/stsim_InitialConditionsSpatial
docs
