.Rproj.user
.Rhistory
.RData
.Ruserdata
rsyncrosim.Rproj
installRSyncroSim.R
gitIncantations.txt
*.suo
*.user
*.ssim
*.ssim.input/
*.ssim.temp/
*.ssim.output/
*.ssim.backup/
*.tex
/vignettes/rsyncrosim_tutorial.html
/vignettes/demoLib.ssim.temp/RSyncroSim
/vignettes/demo-library.ssim.input
/vignettes/demo-library.ssim.output
/vignettes/demoLib.ssim.input/Scenario-2/stsim_InitialConditionsSpatial
.vs
/rsyncrosim_binaries/
rsyncrosim.Rcheck
*.tar.gz
# Don't build pkgdown site from actions
**/pkgdown.yaml
debugging.R
binaries/
# Don't build R-CMD-check (broken)
# **/R-CMD-check.yml
