.Rproj.user
.Rhistory
.RData
.Ruserdata
rsyncrosim.Rproj
installRSyncroSim.R
gitIncantations.txt
*.suo
*.user
# *.ssim
*.ssim.input/
# *.ssim.temp/
*.ssim.output/
# *.ssim.backup/
*.tex
/vignettes/rsyncrosim_tutorial.html
/vignettes/*.ssim*
.vs
/rsyncrosim_binaries/
rsyncrosim.Rcheck
*.tar.gz
# Don't build pkgdown site from actions
**/pkgdown.yaml
debugging.R
binaries/
# Don't build R-CMD-check (broken)
#**/R-CMD-check.yml
# tests_in_progress/
